.cell {
  height: 7rem;
  width: 7rem;
  display: grid;
  background-color: lightblue;
  text-align: center;
  font-size: 1rem;
  margin-top: 1rem;
  
}

.cell div {
  display: flex;
  justify-self: center;
  align-self: center;
  font-size: 2rem;
}

.cell div img {
  width: 7rem;
}

.cell.active {
  cursor: pointer;
}

.cell.disabled {
  background-color: rgb(125, 125, 125);
}

.cell.winner {
  background-color: rgb(177, 238, 175);
  color: rgb(171, 24, 24);
}

@media (max-width: 768px) {
  .cell {
    font-size: 0.8rem;
  }
}